body{
  margin: 0;
  padding: 0;
}


header{
  background-color: #1e70da;
  color: white;
  padding: 20px 0;
}


header h1{
  margin: 0;
}


footer{
  background-color: aliceblue;
  text-align: center;
  padding: 10px 0;
}

nav{
  background-color: rgb(38, 152, 205);
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

nav ul li{
  flex-grow: 1;
}

nav ul li a{
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
  text-align: center;
}

.caja{
  border: 3px solid black;
  width: 300px;
  border-radius: 10px;

}